SERVER_PORT= # Port number for the server to listen on
NODE_ENV= # development, production, test

POSTGRES_USER= # PostgreSQL username
POSTGRES_PASSWORD= # PostgreSQL password
POSTGRES_DB= # PostgreSQL database name

DATABASE_URL= # Connection string for the database, e.g. "postgresql://user:password@localhost:5432/dbname?schema=public"

JWT_SECRET= # Secret key for signing JWT tokens
JWT_EXPIRES_IN= # Expiration time for JWT tokens, standard for access tokens is "15m"
REFRESH_TOKEN_EXPIRES_DAYS= # Expiration time for refresh tokens in days, standard is 7
REGISTRATION_TOKEN_EXPIRES_IN = # Expiration time for registration tokens, standard is "15m"

PASSWORD_SALT_ROUNDS= # Number of salt rounds for password hashing, standard is 12

FRONTEND_URL= # URL of the frontend application, e.g. "http://localhost:5173"

SEED_USERS_PASSWORD= # Plain password for the seeded users

API_TRANSPORT= # rest | graphql
